@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


#content5-3 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 23px;
}
#content5-3 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3 .mbr-article {
  color: #fff;
}
#content5-3 .mbr-article P {
  text-align: center;
}
#msg-box4-4 .mbr-header__text {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}
#msg-box4-4 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-4 .mbr-article {
  color: #ffffff;
}
#msg-box4-4 .mbr-article UL {
  color: #ffffff;
}
#msg-box4-4 .mbr-article DIV {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #525b71;
}
#menu-0 .mbr-navbar__section {
  background: #525b71;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#form1-3 .mbr-header__text {
  color: #ffffff;
  font-size: 25px;
}

#content5-8 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 23px;
}
#content5-8 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-8 .mbr-article {
  color: #fff;
}
#content5-8 .mbr-article P {
  text-align: center;
}
#menu-12 .mbr-brand__name {
  font-size: 16px;
}
#menu-12.mbr-navbar--stuck .mbr-navbar__section {
  background: #525b71;
}
#menu-12 .mbr-navbar__section {
  background: #525b71;
}
#menu-12 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-12 .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#form1-13 .mbr-header__text {
  color: #ffffff;
  font-size: 25px;
}

#content5-15 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 23px;
}
#content5-15 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-15 .mbr-article {
  color: #fff;
}
#content5-15 .mbr-article P {
  text-align: center;
}
#menu-16 .mbr-brand__name {
  font-size: 16px;
}
#menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #525b71;
}
#menu-16 .mbr-navbar__section {
  background: #525b71;
}
#menu-16 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-16 .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
#form1-17 .mbr-header__text {
  color: #ffffff;
  font-size: 25px;
}

#menu-1 .mbr-brand__name {
  font-size: 16px;
}
#menu-1.mbr-navbar--stuck .mbr-navbar__section {
  background: #525b71;
}
#menu-1 .mbr-navbar__section {
  background: #525b71;
}
#menu-1 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1 .mbr-brand__name a {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
